#dcaDiv{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dcaPaper, #ongoingPaper, #stablePaper, #notCoPaper, #fundPaper{
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    margin: auto;
    max-width: 1000px;
    padding: 30px;
    width: 100%;
    margin-top: 20px;
}

#stablePaper{
    margin-bottom: 50px;
}

#dcaInputs{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#dai{
    width:70px;
    height:70px;
}

#balance{
    margin-top: 20px;
}

#dcaBalanceInfos{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#daiBal{
    margin-right: 50px;
}

#approve{
    margin-right: 20px;
}

#fundMax{
    margin-bottom: 20px;
}

